body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: #444;
  padding: 1em 0;
}
nav a {
  color: white;
  text-decoration: none;
}
.container {
  padding: 2em;
}
.section {
  margin-bottom: 2em;
}
h1{
  font-size: 42px;
}
h1, h2 {
  color: #333;
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.service {
  flex: 1 1 calc(33.333% - 2em);
  background: #f4f4f4;
  padding: 1em;
  border: 1px solid #ddd;
}
.service h3 {
  margin-top: 0;
}
ul li{
  padding: 5px 0px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

